
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Page.Title</title>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        #CustomerInfo{
            border: 1px black solid;
            border-radius:5px;
            background-color: #eee;
            padding: 5px;

        }

    </style>
</head>
<body>
    <div class="container container-body"> 
        @RenderPage("_Header.cshtml")
        @RenderBody()
    </div>
</body>
</html>
